@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .seller {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  .seller {
    display: none;
  }
}
.default {
  background-color: transparent;
  transition: 0.5s;
  .logo,
  a,
  button {
    color: white !important;
    transition: 0.5s;
  }
}
.changed {
  background-color: white;
  transition: 0.5s;
  .logo,
  a,
  button {
    color: black !important;
    transition: 0.5s;
  }
  button.button2 {
    border: solid 2px black !important;
    transition: 0.5s;
  }
}
.signOut {
  background-color: red !important;
}
