.swiper {
  position: relative;
  .bg1,
  .bg2,
  .bg3,
  .bg4,
  .bg5 {
    height: calc(100vh * 2 / 3);
    width: 100%;
  }
  .bg1 {
    background-image: url(../../../img/bg1.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bg2 {
    background-image: url(../../../img/bg2.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bg3 {
    background-image: url(../../../img/bg3.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bg4 {
    background-image: url(../../../img/bg4.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bg5 {
    background-image: url(../../../img/bg5.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.contentMain {
  width: 40%;
  position: absolute;
  top: 150px;
  left: 200px;
  z-index: 2;
  p {
    font-size: 48px;
    line-height: 56px;
  }
  input {
    height: 50px;
    width: 70%;
    border-radius: 7px 0 0 7px;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
  button {
    height: 50px;
    background-color: #1dbf73;
    border-radius: 0 7px 7px 0;
    &:hover {
      background-color: #1dbf73;
    }
  }
}
.swiper-container {
  .swiper-button-prev,
  .swiper-button-next {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  .swiper-button-prev {
    left: 0;
    &::after {
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
  }
  .swiper-button-next {
    right: 0;
    &::after {
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
  }
}
.responsiveContent {
  position: relative;
  height: calc(100vh * 2 / 3);
  width: 100%;
  background-color: #0b3f27;
  display: none;
}
@media only screen and (min-width: 720px) and (max-width: 1023px) {
  .swiper {
    display: none;
  }
  .responsiveContent {
    display: block;
  }
  .contentMain {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 80%;
    margin: auto;

    form {
      flex-direction: column;
      input {
        width: 85%;
        border-radius: 7px;
        margin-bottom: 10px;
      }
      button {
        width: 85%;
        border-radius: 7px;
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .swiper {
    display: none;
  }
  .responsiveContent {
    display: block;
  }
  .contentMain {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    margin: auto;
    p {
      font-size: 38px;
    }
    form {
      flex-direction: column;
      input {
        width: 95%;
        border-radius: 7px;
        margin-bottom: 10px;
      }
      button {
        width: 95%;
        border-radius: 7px;
      }
    }
  }
}
